<%- include('partials/header') %>

    <section class="top">
      <form class="" action="/login" method="post">
      <div class="name">
        <i class="fab fa-instagram fa-5x"></i>
        <h1>Instagram</h1>
      </div>
      <div class="">
        <input type="text" name="username" value="" placeholder="Username" autofocus>
      </div>
      <div class="">
        <input type="password" name="password" value="" placeholder="Password">
      </div>
      <div class="Other-option">
        <button class="btn btn-dark btn-lg" type="submit" name="button" href="/">Log In</button>

      </div>
  </form>
    </section>

<%- include('partials/footer') %>
